@use 'variables' as *;
// jezeli nie dziala to kwestia importu

@mixin break($value) {
    @media (min-width: map-get($breakpoints, $value)) {
        @content;
    }
}

@mixin pseudo($loc: before, $content: '', $position: absolute){
    position: relative;
    
    &::#{$loc}{
        content: $content;
        position: $position;
    }
    
    @content;
}