@use '../abstracts' as *;

.btn-primary{
    display: block;
    text-decoration: none;
    padding: rem(8) rem(28);
    font-weight: var(--fw-500);
    border-radius: rem(28);
    color: var(--clr-white);

    // media 

    // 

    &--black{
        background-color: var(--clr-black);
    }
    
}