*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===================
    custom properties
===================== */

:root{
    --clr-primary:#3CB3AB;
    --clr-primary-on: #147A73;
    --clr-secondary:#000000;

    --clr-tertiary:#7a7a7a;
    --clr-teritary-variant-vlight:#B1B1B1;
    --clr-tertiary-variant-light:#444444;
    --clr-teritary-variant-dark:#2f2f2f;
    --clr-teritary-on:#707070;

    --clr-background:#F2F2F2;
    --clr-surface:#FFFFFF;

    --ff-primary: 'Commissioner', sans-serif; 
    
    --fs-100: 62.5%;
    --fs-200: 1.4rem;
    --fs-300:1.5rem;
    --fs-400: 1.6rem;
    --fs-500: 1.8rem;
    --fs-600: 2rem;
    --fs-700: 2.4rem;
    --fs-800: 2.8rem;
    --fs-900: 3.2rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /* line height 

        15.9
        34.24
        19.57
        39.14
        18.35
        24.46
        30
        22.01
        28
        29.35
        24
        17.12 */
    

}

/* ===================
    utility classes
===================== */

/* colors */
.clr-primary{
    color: var(--clr-primary);
}

.clr-secondary{
    color: var(--clr-secondary);
}

.clr-teritary {
    color: var(--clr-tertiary);
}

.clr-teritary--light {
    color: var(--clr-tertiary-variant-light);
}

.clr-teritary--vlight {
    color: var(--clr-teritary-variant-vlight);
}

.clr-teritary--dark {
    color: var(--clr-teritary-variant-dark);
}

.clr-background {
    color: var(--clr-background);
}

.clr-surface {
    color: var(--clr-surface);
}

/* backgrounds */
.bg-primary{
    background-color: var(--clr-primary);
}

.bg-secondary{
    background-color: var(--clr-secondary);
}

.bg-teritary {
    background-color: var(--clr-tertiary);
}

.bg-teritary--light {
    background-color: var(--clr-tertiary-variant-light);
}

.bg-teritary--vlight {
    background-color: var(--clr-teritary-variant-vlight);
}

.bg-teritary--dark {
    background-color: var(--clr-teritary-variant-dark);
}

.bg-background {
    background-color: var(--clr-background);
}

.bg-surface {
    background-color: var(--clr-surface);
}

/* font sizes */
.fs-100 {
    font-size: var(--fs-100);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-900 {
    font-size: var(--fs-900);
}

/* font weights */
.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-700 {
    font-weight: var(--fw-700);
}


/* layout */
.container{
    max-width: 74rem;
    padding: 2.4rem;
    width: 90%;
    margin-inline: auto;
}

.container--dark{
    color: #000000;
    opacity: 0.5;
}

/* przy brake poincie zmienić container na wiekszy */

.grid{
    display: grid;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flow > :where(:not(:first-child)){
    margin-top: 2.4rem;    
}

.center{
    text-align: center;
}

.td-none{
    list-style: none;
}

.br-primary{
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
}

.br-secondary{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.dark-switch{
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden{
    display: none;
}


/* ===================
    general styling
===================== */

html, body{
    font-size: var(--fs-100);
    min-height: 100vh;
    font-family: var(--ff-primary);
    position: relative;
    padding-bottom: 7.6rem;
}

.btn-primary{
    border: none;
    border-radius: 33.5px;
    color: var(--clr-surface);
    transition: all .3s;
    cursor: pointer;
}

.btn-primary:active,
.btn-primary:hover {
    background-color: #147A73;
 
}

/* ===================
    components
===================== */

/* header */
header{
    background-image: url(https://hanak.co/projects/frontendmentor/crowfunding/images/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    min-height: 50vh;
  /* kolo 540px wiekszy  */
}

.mobile-nav-toogle{
    /* position: fixed;
    top: 1.8rem;
    /* right: 2rem; */
    z-index: 12; 
    display: block;
    cursor: pointer;
}

.primary-nav {
    padding: 2rem 1rem;
    justify-content: space-between;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
}

.primary-nav__list {
    display: none;
    margin-right: 1.6rem;
}

.primary-nav__list :not(:last-child){
    border-bottom: 1px solid #2f2f2f28;
    
}

.primary-nav__list[data-visible]{
    display: block;
    position: absolute;
    top: 10%;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    width: 90%;
}

.nav__item{
    display: block;
    padding: 2.4rem;
}

.nav__item a {
    text-decoration: none;
    color: var(--clr-secondary);
}

/* main */
main{
    position: absolute;
    /* bottom: -158%; */
    z-index: 2;
    top: 25%;
}

.project-header{
    grid-template: repeat(3, auto) / repeat(2, 1fr) auto;
    grid-template-areas:
    "title title title"
    "subtitle subtitle subtitle"
    "cta cta bookmark";
    align-items: center;
    top: 10%;
}

.project__title{
    grid-area: title;
    margin-bottom: 1.6rem;
    position: relative;
    margin-top: 2rem;
    max-width: 260px;
    margin-inline: auto;
    line-height: 1.3;
}

.project__title::before{
    content: url("images/logo-mastercraft.svg");
    position: absolute;
    top: -145%;
    left: 50%;
    transform: translateX(-50%);
}

.project__subtitle{
    grid-area: subtitle;
    margin-bottom: 2.4rem;
    line-height: 1.7;
}

.btn-cta{
    grid-area: cta;
    margin-bottom: 1rem;
    justify-self: start;
    padding: 2rem 2rem;
    width: 100%;
    max-width: 28rem;
}

.btn-bookmark{
    grid-area: bookmark;
    margin-bottom: 1rem;
    background: none;
    border: none;
    justify-self: end;
    margin-left: .9rem;
    cursor: pointer;
}

.btn-bookmark:hover{
    filter: sepia(100%) grayscale(100%) ;
}

/* project stats */

.project-stats{
    flex-direction: column;
    margin-top: 2.4rem;
}

.stats__list{
    flex-direction: column;
}

.stats__desc{
    margin-top: .9rem;
}

.stats__progress-bar{
    padding: 1rem;
    margin-top: 3.2rem;
    /* opacity: 0.05; */
    border-radius: 33.5px;
    position: relative;
    background-color: #7a7a7a30;
}

.stats__progress-bar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    background-color: var(--clr-primary);
    padding: 1rem;
    opacity: 1;
    border-radius: 33.5px;
}

/* project about */
.project-about{
    margin-top: 2.4rem;
}

.about__title{
    margin-bottom: 2.4rem;
}

.about__text{
    line-height: 1.6;
}

.about__subtitle{
    margin-top: 2.4rem;
    line-height: 1.6;
}

.about__card{
    padding: 2.4rem;
    margin-top: 3.5rem;
}

.card__title{
    margin-bottom: .8rem;
}

.card__subtitle{

}

.card__text{
    margin-top: 2.4rem;
    line-height: 1.6;
}

.card__aviability{
    margin-top: 2.4rem;
    align-items: center;
}

.card__items-left{

}

.card__items__amount{
   
}


.btn-reward{
    padding: 1.6rem 3.2rem;
    margin: 1.2rem 0;
}

/* bug */
.about__card--disabled{
    opacity: 0.5;
}



/* modal */
.modal{
    display: none;
    position: absolute;
    top: 20%;
    left: 2.5rem;
    z-index: 100;
    background-color: var(--clr-surface);
}

.modal__title-container{
   justify-content: space-between;
   align-items: baseline;
}

.modal__subtitle{
    line-height: 1.6;
}

.modal__close{
    cursor: pointer;
}

.modal__close:hover{
    fill: #000000;
}

.modal[open]{
    display: block;
}

.header[data-over]::after{
    content: "";
    position: fixed;
    height: 400vh;
    width: 120vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: -20%;
    left: -3rem;
    inset: 0;
    z-index: 4;
}

.modal-box{
    padding: 2.4rem 3.2rem;
}

.modal-box--disabled{
    opacity: 0.5;
}

.active{
    border: 2px solid var(--clr-primary);
}

.modal__choice{
    margin-bottom: 2.4rem;
}

.modal__choice {
    grid-template: repeat(2, auto) / auto 1fr;
    grid-template-areas: 
    "radio title"
    "radio pledge";
    justify-items: start;
    align-items: center;
}

.modal__choice--first{
    grid-template-areas: 
    "radio title"
    "radio title";
}

.modal__option{
    grid-area: radio;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.6rem;
    display: grid;
    place-items: center;
    position: relative;
    cursor: pointer;
}

.modal__option:disabled{
    pointer-events: none;
}

.modal__choice--first .modal-pledge__title{
    margin-bottom: 0;
}

.modal-pledge__title{
    grid-area: title;
    margin-bottom: .8rem;
    justify-self: flex-start;
}

.modal__pledge{
    grid-area: pledge;
}

.modal-pledge__text{
    line-height: 1.6;
}

.modal__payment{
    padding-top: 3rem;
    grid-template: repeat(2, auto) / repeat(2, auto);
    grid-template-areas: 
    "title title"
    "pay-input btn";
    margin-inline: auto;
    position: relative;
    display: none;
}

.modal__payment.pay-active {
    display: grid;
}

.payment__text{
    margin-top: 1rem;
    margin-bottom: 3.2rem;
    grid-area: title;
    position: relative;
}

.payment__text::after{
    content: "";
    position: absolute;
    top: -2rem;
    left: -3.2rem;
    right: 0;
    height: 1px;
    width: calc(100% + 6.5rem);
    margin-inline: auto;
    background-color: #000000;
    opacity: 0.15;

}

.payment__input{
    grid-area: pay-input;
    max-width: 10rem;
    border-radius: 33.5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding-left: 3.5rem;
    font-family: inherit;
    margin-right: 1.6rem;
}

.payment__input:focus{
    border-color: var(--clr-primary-on);
    outline: 0 none;
}

.payment__button {
    grid-area: btn;
    padding: 1.5rem 2.5rem;
    position: relative;
}

/* succes modal */

.succes-modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 5%;
    z-index: 30;
    align-items: center;
    display: none;
}

.succes__icon{
    margin-inline: auto;
    margin-bottom: 1rem;
}

.succes__title{
    margin-top: 1rem;
}

.succes__text{
    margin-top: 1rem;
    line-height: 1.6;
}

.succes-modal[show]{
    display: flex;
}

.succes__button{
    padding: 1.5rem 2.5rem;
    margin-top: 2.5rem;

}

main::after{
    content: "";
    width: 100%;
    min-height: 4vh;
    background-color: var(--clr-background);
    z-index: 2;
    position: absolute;
}

@media (min-width:36rem) {
    .container{
        max-width: 70.3rem;
        margin-inline: auto;
    }

    header{
        background-image: url(https://hanak.co/projects/frontendmentor/crowfunding/images/image-hero-desktop.jpg);
        background-size: cover;
        min-height: 45rem;
    }

    .mobile-nav-toogle{
        display: none;
    }

    .primary-nav__list{
        display: flex;
        flex-direction: row;
        background: none;
        color: var(--clr-surface);
        font-weight: 400;
    }

    .nav__item{
        background: none;
        border: none;
    }

    .nav__item a {
        text-decoration: none;
        color: var(--clr-surface);
    }

    .primary-nav{
        align-items: baseline;
    }

    main{
        top: 40%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }


    /* components */

    /* header */
    .btn-bookmark{
        position: relative;
        margin-right: 17.4rem;
        z-index: 7;
    }

    .btn-bookmark::after{
        content: "Bookmark";
    
        background-color: #7a7a7a1b;
        font-weight: var(--fw-700);
        color: var(--clr-tertiary);
        border-radius: 33.5px;
        position: absolute;
        left: 0%;
        padding-top: 2rem;
        padding-left: 5rem;
        width: 18rem;
        z-index: 2;
        height: 56px;
    }

    .btn-cta{
        margin-left: 4.8rem;
    }

  

    /* stats */

    .project-stats{
        display: flex;
        flex-direction: column;
    }

    .stats__list{
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .stats__item--center{
        display: block;
        border-left: 2px solid rgba(0, 0, 0, 0.15);
        border-right: 2px solid rgba(0, 0, 0, 0.15);
    }

    /* about */

    .about__text, .about__subtitle {
        max-width: 63.4rem;
    }

    .about__card{
        display: grid;
        grid-template: repeat(3, auto) / repeat(3, auto);
        grid-template-areas: 
        "title . subtitle"
        "textc textc textc"
        "aviability . reward";
        gap: 2.4rem;
    }

    .card__title{
        grid-area: title;
    }

    .card__subtitle{
        grid-area: subtitle;
    }

    .card__text{
        grid-area: textc;
        margin-top: 0;
    }

    .about__card .card__aviability{
        grid-area: aviability;
        align-self: center;
        margin-top: 0;
    }

    .btn-reward{
        grid-area: reward;
        align-self: center;
        margin: 0;
    }

    .modal{
        left: 0;
        right: 0;
        margin-inline: auto;
        max-width: 90.5rem;
    }

    .modal-box{
        display: grid;
        grid-template: repeat(3, auto) / repeat(3, auto);
        grid-template-areas: 
        "choice choice avi"
        "texto texto texto"
        "pay pay pay";
        align-items: center;
        gap: 1.6rem;
    }

    .modal__choice{
        grid-template: repeat(2, auto) / repeat(2, auto) 1fr;
        grid-template-areas: 
        "radio title pledge"
        "radio . .";
        align-items: center;
        grid-area: choice;
        margin-bottom: 0;
    }

    .modal-pledge__title, .modal__pledge{
        margin-top: .2rem;
        margin-bottom: 0;
        transition: all .3s;
        cursor: pointer;
        
    }

    .modal-pledge__title:hover{
       color: var(--clr-primary-on);
    }

    .modal__pledge{
        margin-left: 1.6rem;
    }

    .modal__pledge:hover{
        font-weight: var(--fw-700);
        color: var(--clr-primary-on);
    }


    .modal-box .card__aviability{
        grid-area: avi;
        margin-top: 0;
    }

    .modal__pledge__text{
        grid-area: texto;
        margin-left: 50px;
    }

    .modal__payment{
        grid-area: pay;
    }

    .payment__text::after{
        content: "";
        display: none;
    
    }
    
    /* modal succes */

    .succes-modal{
        left: 0;
        right: 0;
        margin-inline: auto;
        max-width: 54rem;
    }



}

