// generating fs and fw variables in root and also some utility classes
// to modify variables values go to _variables.scss

@use '../abstracts' as *;


@each $size, $value in $font-sizes {
 .fs-#{$size}{
    font-size: $value;
 }
};


@each $size, $value in $font-weights {
    :root{
        --fw-#{$size}: #{$value};
    }
    .fw-#{$size}{
       font-weight: var(--fw-#{$size});
    }
};

.center{
    text-align: center;
}

.body{
    line-height: 1.62;
}

h1,
h2{
    line-height: 1.26;
}

.slogan__text{
    margin-inline: auto;
}