@use '../abstracts' as *;

.footer{

    .box > *:not(:last-child) {
        margin-bottom: rem(24);
    }
    
    .btn-primary--pink{
        max-width: rem(190);
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(40);
    }

    @include break(xlarge){
        & .box{
            display: grid;
            column-gap: rem(182);
            grid-template: repeat(2 auto) / repeat(2 auto);
            grid-template-areas: 
            "title btn"
            "text btn";
            align-items: center;
        }
    }

    
}